<div class="menu-container d-flex justify-content-center my-4">
        <div class="post-inner justify-content-center">

            <div class="menu-form bg-secondary p-3">
                <div class="title-container container-fluid d-flex">
                    <h4 class="title text-light">Login</h4>
                </div>

                <div class="menu-body p-3 bg-light">

                    <div class="input-group mb-3" id="userInput">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>

                    <div class="input-group mb-3" id="passwordInput">
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password">
                    </div>

                    <div class="input-group-prepend mb-3" id="loginBtn">
                        <button class="btn btn-outline-primary" type="button">Login!</button>
                    </div>

                    <div class="input-group-prepend" id="altBtn">
                        <button class="btn btn-outline-primary" type="button">Signup Instead</button>
                    </div>

                </div>

            </div>


        </div>
</div>

<script src="/assets/js/login.js"></script>