<div class="post-container d-flex justify-content-center my-4">
        <div class="post-inner justify-content-center">

            <div class="blog-post bg-secondary p-3">
                <div class="title-container container-fluid d-flex">
                    <h4 class="title text-light">Sign Up</h4>
                </div>

                <div class="post-body p-3 bg-light">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password">
                    </div>

                    <div class="input-group-prepend mb-3">
                        <button class="btn btn-outline-primary" type="button">Sign up!</button>
                    </div>

                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">Login Instead</button>
                    </div>

                </div>
            </div>


        </div>
</div>