*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  /* Home Feed Start */
.post-container{
    width: 100% !important;
    justify-content: center !important;
    
}
.post-inner{
    width: 80% !important;
}

.blog-post{
    border-radius: 5px !important; 
    margin: 1rem !important;
}
.post-info{
    margin-left: auto !important; 
}
.post-body{
    border-radius: 5px !important;
}
/* Home Feed End */

/* Signup/Login Menu Start */
.menu-container{
    width: 100% !important;
    justify-content: center !important;
}
.menu-form{
    border-radius: 5px !important; 
    margin: 1rem !important;
}
.menu-body{
    border-radius: 5px !important;
}
/* Signup/Login Menu End */